<app-header
  [(keyword)]="keyword"
  (searchClick)="filterArticles($event)"></app-header>

<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">{{ title }}</h1>
      <p [innerHTML]="subtitle"></p>
      <p>即將搜尋: {{ keyword }}</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <app-articles [list]="articles | filterArticle:keyword"></app-articles>
      </div>
      <div class="col-md-3">
        <app-tags></app-tags>
      </div>

    </div>
  </div>

</div>

<app-footer></app-footer>
