
  <div class="sidebar">
    <p>Popular Tags</p>

    <div class="tag-list">
      <a href="#" class="label label-pill label-default">programming</a>
      <a href="#" class="label label-pill label-default">javascript</a>
      <a href="#" class="label label-pill label-default">angularjs</a>
      <a href="#" class="label label-pill label-default">react</a>
      <a href="#" class="label label-pill label-default">mean</a>
      <a href="#" class="label label-pill label-default">node</a>
      <a href="#" class="label label-pill label-default">rails</a>
    </div>
  </div>
